#additionalbutton {
    height: 50px;
    width: 240px;
    padding: 20px;
    margin: 30px 5px;
    border-radius: 25px;
    border: none;
    color: #00a037;
    background: #ebeef1;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
}

#additionalbutton img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;  /* To match the button's border-radius */
}

#additionalbutton a {
    text-decoration: none;
    text-transform: uppercase;
    color: #00a037;
}
